# Terraform working files and state
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example
crash.log
crash.*.log

# Terraform plan files
*.tfplan

# Local tooling and editor files
.DS_Store
.idea/
.vscode/
*.swp
